@media only screen and (max-width: 800px) {
  body {
    background-color: darkblue;
    text-align: center;
  }

  .title {
    color: white;
    font-family: monospace;
    margin-top: 50px;
    font-size: 2rem;
  }

  .status {
    color: white;
    font-family: monospace;
    margin-top: 25px;
    font-size: 1.5rem;
  }

  .box {
    height: 100px;
    width: 100px;
    border: solid black 5px;
    margin: 0 auto;
    border-radius: 25%;
    line-height: 4;
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .box-up {
    background: yellow;
    color: yellow;
  }

  .box-left {
    background-color: red;
    color: red;
    position: relative;
    right: 125px;
    top: 15px;
  }

  .box-right {
    background-color: green;
    color: green;
    position: relative;
    left: 125px;
    bottom: 95px;
  }

  .box-down {
    background-color: powderblue;
    color: powderblue;
    position: relative;
    bottom: 80px;
  }

  .box-active {
    visibility: hidden;
  }

  .btn {
    height: 50px;
    width: 175px;
    background-color: gold;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    /*margin-bottom: 25px; */
  }

  .high-score {
    width: 125px;
    margin: 25px auto 150px;
    background-color: white;
    color: darkblue;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    /* left: 600px;
  bottom: 1025px; */
    top: 25px;
  }

  .score-text {
    padding: 10px 0 5px;
  }

  .score {
    padding: 10px 0 10px;
  }

  .btn {
    position: relative;
    bottom: 300px;
  }

  .btn-hide {
    display: none;
  }
}
