@media only screen and (max-width: 800px) {
  body {
    background-color: darkblue;
    text-align: center;
  }

  .title {
    color: white;
    font-family: monospace;
    margin-top: 25px;
    font-size: 1rem;
  }

  .status {
    color: white;
    font-family: monospace;
    margin-top: 12.5px;
    font-size: 0.75rem;
  }

  .box {
    height: 50px;
    width: 50px;
    border: solid black 2.5px;
    margin: 0 auto;
    border-radius: 25%;
    line-height: 4;
    font-weight: bolder;
    font-size: 0rem;
  }

  .box-up {
    background: yellow;
    color: yellow;
  }

  .box-left {
    background-color: red;
    color: red;
    position: relative;
    right: 60px;
    top: 10px;
  }

  .box-right {
    background-color: green;
    color: green;
    position: relative;
    left: 60px;
    bottom: 45px;
  }

  .box-down {
    background-color: powderblue;
    color: powderblue;
    position: relative;
    bottom: 35px;
  }

  .box-active {
    visibility: hidden;
  }

  .btn {
    height: 25px;
    width: 87.5px;
    background-color: gold;
    color: black;
    font-size: 0.5rem;
    font-weight: bolder;
    position: relative;
    top: -135px;
  }

  .high-score {
    width: 67.5px;
    margin: 12.5px auto 75px;
    background-color: white;
    color: darkblue;
    font-size: 0.5rem;
    font-weight: bold;
    position: relative;
    /* left: 600px;
  bottom: 1025px; */
    top: 25px;
  }

  .score-text {
    padding: 5px 0 5px;
  }

  .score {
    padding: 5px 0 5px;
  }

  /* .btn {
    position: relative;
    bottom: 300px;
  } */

  .btn-hide {
    display: none;
  }
}
